# IdeaIDE
.idea

#VsIDE
.vscode

# Executables
harmony
*.pyc
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/

# Mac
.DS_Store

# Log
*.log
log-*

# gcloud
gcloud.txt

# Wallet
keystore
*.swp

# Cscope files
cscope.*

# local runtime logs
tmp_log

# RLP encoding
*.rlp
**/*.rlp

# Others
*.png

# beacon chain data
bc_config.json

# leveldb local storage
db/
