language: go
go:
  - stable
go_import_path: github.com/harmony-one/harmony
install:
  - export GO111MODULE=on
  - export GOPATH=$HOME/gopath
  - export CGO_CPPFLAGS="-I$GOPATH/src/github.com/harmony-one/bls/include -I$GOPATH/src/github.com/harmony-one/mcl/include"
  - export CGO_LDFLAGS="-L$GOPATH/src/github.com/harmony-one/bls/lib -L$GOPATH/src/github.com/harmony-one/mcl/lib"
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$GOPATH/src/github.com/harmony-one/bls/lib:$GOPATH/src/github.com/harmony-one/mcl/lib
  - mkdir -p $HOME/gopath/src/github.com/harmony-one
  - cd $HOME/gopath/src
  - cd github.com/harmony-one
  - git clone https://github.com/harmony-one/mcl.git
  - cd mcl
  - make
  - cd ..
  - git clone https://github.com/harmony-one/bls.git
  - cd bls
  - make
  - cd ../harmony
  - go get -v ./...
  - go get gopkg.in/check.v1
  - go get github.com/golang/protobuf/protoc-gen-go
  - scripts/install_build_tools.sh
script:
  - go build -v ./...
  - ./scripts/travis_checker.sh
notifications:
  slack: harmonyone:gggCd1QQopsQAW8JYgBWiH7M
after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
