os: linux
dist: jammy
language: go
go:
  - 1.24.1
go_import_path: github.com/harmony-one/harmony
cache:
  directories:
    - docker_images
    - $HOME/.cache/go-build
    - $GOPATH/pkg/mod
env:
  - TEST="make"
  - TEST="bash ./scripts/travis_go_checker.sh"
  - TEST="bash ./scripts/travis_rpc_checker.sh"
  - TEST="bash ./scripts/travis_rosetta_checker.sh"

# We enable Travis on the main/dev branches or forked repositories here.
# PRs workflow isn't affected by this condition
if: >
  repo != harmony-one/harmony OR
  (repo = harmony-one/harmony AND (branch = main OR branch = dev))

# upgrade docker to latest stable version
before_install:
  - echo "deb https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list >/dev/null
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

install:
  # default working directory with source code is automatically set to
  #   /home/travis/gopath/src/github.com/harmony-one/harmony
  # https://docs.travis-ci.com/user/languages/go/#go-import-path
  - git clone https://github.com/harmony-one/mcl.git $GOPATH/src/github.com/harmony-one/mcl
  - git clone https://github.com/harmony-one/bls.git $GOPATH/src/github.com/harmony-one/bls
  - git clone https://github.com/harmony-one/harmony-test.git $GOPATH/src/github.com/harmony-one/harmony-test
  - (cd $GOPATH/src/github.com/harmony-one/mcl; make -j4)
  - (cd $GOPATH/src/github.com/harmony-one/bls; make BLS_SWAP_G=1 -j4)
#  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.41.1
  - make go-get
  - go install golang.org/x/tools/cmd/goimports@v0.30.0
  - go install github.com/fjl/gencodec@v0.1.0
  - echo "[WARN] - workaround for the GOPATH:"
  # sometimes Travis decides to respect GOPATH and creates a symlink, thus we have || true for such cases
  - rm $GOPATH/src/github.com/harmony-one/harmony || true;
  - mv /home/travis/build/harmony-one/harmony $GOPATH/src/github.com/harmony-one/
script:
  - ${TEST}
after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
